[submodule "bncsutil"]
	path = bncsutil
	url = https://github.com/BNETDocs/bncsutil.git
[submodule "StormLib"]
	path = StormLib
	url = https://github.com/ladislav-zezula/StormLib
[submodule "gnu-gmp"]
	path = gnu-gmp
	url = https://github.com/SaberMod/gnu-gmp
[submodule "boost_1_38_0"]
	path = boost_1_38_0
	url = https://github.com/mike-code/boost_1_38_0.git
